#headshot {
	background-repeat: no-repeat;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;

}

#text {
	background-color: #ffffb8;
	background-position: 45% 50%;
	overflow: auto;
}

#squareone {
	opacity: .7;

}

#name {
	color: black;
	font-size: 50px;
	font-weight: 600;
}

#description {
	font-style: italic;
	font-size: 20px;
	font-weight: 600;
}

#welcome {
	text-align: center;
}

.text {
	max-width: 600px;
	margin-top: 12px;
	text-align: left;
	font-size: 16px;
}

#last {
	font-size: 20px;
	text-align: center;
	opacity: .7;
}

#final {
	margin-top: 4px;
	font-size: 36px;
	font-weight: 500;
	font-style: italic;
	text-align: center;
	opacity: .95;
}

#table2 {
	margin: auto;
	padding: 20px;
	opacity: .8;
}

#middle {
	text-align: center;
	margin-top: 10px;
}

#photo {
	margin-left: auto;
	text-align: center;
}

#part2 {
	background-color: #00248f;
	color: white;
}

#part3 {
	background-color: #6699ff;
	color: white;
}

table {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
}

td {
	text-align: center;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

#coursework {
	color: white;
}